[data-cellid="grid_footcell_field"][data-page="country_masterlist"][data-cellid="grid_footcell_field"][data-page="country_masterlist"][data-cellid="grid_footcell_field"][data-page="country_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="country_masterlist"][data-cellid="grid_footcell_field1"][data-page="country_masterlist"][data-cellid="grid_footcell_field1"][data-page="country_masterlist"] {
  white-space: nowrap;
}


