[data-cellid="grid_footcell_field"][data-page="country_print"][data-cellid="grid_footcell_field"][data-page="country_print"][data-cellid="grid_footcell_field"][data-page="country_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="country_print"][data-cellid="grid_footcell_field1"][data-page="country_print"][data-cellid="grid_footcell_field1"][data-page="country_print"] {
  white-space: nowrap;
}


