[data-cellid="grid_footcell_field"][data-page="custom_group_agenda_list"][data-cellid="grid_footcell_field"][data-page="custom_group_agenda_list"][data-cellid="grid_footcell_field"][data-page="custom_group_agenda_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="custom_group_agenda_list"][data-cellid="grid_footcell_field1"][data-page="custom_group_agenda_list"][data-cellid="grid_footcell_field1"][data-page="custom_group_agenda_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="custom_group_agenda_list"][data-cellid="grid_footcell_field2"][data-page="custom_group_agenda_list"][data-cellid="grid_footcell_field2"][data-page="custom_group_agenda_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="custom_group_agenda_list"][data-cellid="grid_footcell_field3"][data-page="custom_group_agenda_list"][data-cellid="grid_footcell_field3"][data-page="custom_group_agenda_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="custom_group_agenda_list"][data-cellid="grid_footcell_field4"][data-page="custom_group_agenda_list"][data-cellid="grid_footcell_field4"][data-page="custom_group_agenda_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="custom_group_agenda_list"][data-cellid="grid_footcell_field5"][data-page="custom_group_agenda_list"][data-cellid="grid_footcell_field5"][data-page="custom_group_agenda_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="custom_group_agenda_list"][data-cellid="grid_footcell_field6"][data-page="custom_group_agenda_list"][data-cellid="grid_footcell_field6"][data-page="custom_group_agenda_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="custom_group_agenda_list"][data-cellid="grid_footcell_field7"][data-page="custom_group_agenda_list"][data-cellid="grid_footcell_field7"][data-page="custom_group_agenda_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="custom_group_agenda_list"][data-cellid="grid_footcell_field8"][data-page="custom_group_agenda_list"][data-cellid="grid_footcell_field8"][data-page="custom_group_agenda_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field9"][data-page="custom_group_agenda_list"][data-cellid="grid_footcell_field9"][data-page="custom_group_agenda_list"][data-cellid="grid_footcell_field9"][data-page="custom_group_agenda_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field10"][data-page="custom_group_agenda_list"][data-cellid="grid_footcell_field10"][data-page="custom_group_agenda_list"][data-cellid="grid_footcell_field10"][data-page="custom_group_agenda_list"] {
  white-space: nowrap;
}


