<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel group_member_order view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN group_member_order_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_group_member_order}  r-vertical-field" data-fieldname="group_member_order" data-signal-error-for="group_member_order{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="group_member_order" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_group_member_order}">
		
		{BEGIN group_member_order_label}{$label group_member_order group_member_order }{END group_member_order_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$group_member_order_value}	</div>

		
</div>


{END group_member_order_fieldblock}
											
{BEGIN group_member_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_group_member_id}  r-vertical-field" data-fieldname="group_member_id" data-signal-error-for="group_member_id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="group_member_id" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_group_member_id}">
		
		{BEGIN group_member_id_label}{$label group_member_order group_member_id }{END group_member_id_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$group_member_id_value}	</div>

		
</div>


{END group_member_id_fieldblock}
											
{BEGIN member_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_member_id}  r-vertical-field" data-fieldname="member_id" data-signal-error-for="member_id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="member_id" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_member_id}">
		
		{BEGIN member_id_label}{$label group_member_order member_id }{END member_id_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$member_id_value}	</div>

		
</div>


{END member_id_fieldblock}
											
{BEGIN group_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_group_id}  r-vertical-field" data-fieldname="group_id" data-signal-error-for="group_id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="group_id" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_group_id}">
		
		{BEGIN group_id_label}{$label group_member_order group_id }{END group_id_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$group_id_value}	</div>

		
</div>


{END group_id_fieldblock}
											
{BEGIN order_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_order_date}  r-vertical-field" data-fieldname="order_date" data-signal-error-for="order_date{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="order_date" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_order_date}">
		
		{BEGIN order_date_label}{$label group_member_order order_date }{END order_date_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$order_date_value}	</div>

		
</div>


{END order_date_fieldblock}
											
{BEGIN valid_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_valid}  r-vertical-field" data-fieldname="valid" data-signal-error-for="valid{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="valid" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_valid}">
		
		{BEGIN valid_label}{$label group_member_order valid }{END valid_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$valid_value}	</div>

		
</div>


{END valid_fieldblock}
											
{BEGIN total_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_total}  r-vertical-field" data-fieldname="total" data-signal-error-for="total{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="total" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_total}">
		
		{BEGIN total_label}{$label group_member_order total }{END total_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$total_value}	</div>

		
</div>


{END total_fieldblock}
											
{BEGIN currency_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_currency}  r-vertical-field" data-fieldname="currency" data-signal-error-for="currency{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="currency" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_currency}">
		
		{BEGIN currency_label}{$label group_member_order currency }{END currency_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$currency_value}	</div>

		
</div>


{END currency_fieldblock}
											
{BEGIN review_member_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_review_member}  r-vertical-field" data-fieldname="review_member" data-signal-error-for="review_member{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="review_member" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_review_member}">
		
		{BEGIN review_member_label}{$label group_member_order review_member }{END review_member_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$review_member_value}	</div>

		
</div>


{END review_member_fieldblock}
											
{BEGIN rating_member_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rating_member}  r-vertical-field" data-fieldname="rating_member" data-signal-error-for="rating_member{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="rating_member" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_rating_member}">
		
		{BEGIN rating_member_label}{$label group_member_order rating_member }{END rating_member_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$rating_member_value}	</div>

		
</div>


{END rating_member_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Close window			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-menu-hamburger"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="group_member_order_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Edit		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
