<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel group212 search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN group_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_group_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="group_id" 
	
	data-signal-error-for="group_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="group_id" >


	<label class="r-search-label control-label" for="{$labelfor_group_id}">
		{$label group212 group_id }	</label>
	<div class="r-search-option">
		{$searchtype_group_id}
	</div>
	<div class="r-search-field">
		{$group_id_editcontrol}	</div>
	<div class="r-search-field">
		{$group_id_editcontrol1}
	</div>
	
</div>

{END group_id_fieldblock}
											
{BEGIN group_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_group_name}  r-horizontal-field form-horizontal" 
	
		data-fieldname="group_name" 
	
	data-signal-error-for="group_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="group_name" >


	<label class="r-search-label control-label" for="{$labelfor_group_name}">
		{$label group212 group_name }	</label>
	<div class="r-search-option">
		{$searchtype_group_name}
	</div>
	<div class="r-search-field">
		{$group_name_editcontrol}	</div>
	<div class="r-search-field">
		{$group_name_editcontrol1}
	</div>
	
</div>

{END group_name_fieldblock}
											
{BEGIN description_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_description}  r-horizontal-field form-horizontal" 
	
		data-fieldname="description" 
	
	data-signal-error-for="description{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="description" >


	<label class="r-search-label control-label" for="{$labelfor_description}">
		{$label group212 description }	</label>
	<div class="r-search-option">
		{$searchtype_description}
	</div>
	<div class="r-search-field">
		{$description_editcontrol}	</div>
	<div class="r-search-field">
		{$description_editcontrol1}
	</div>
	
</div>

{END description_fieldblock}
											
{BEGIN logo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_logo}  r-horizontal-field form-horizontal" 
	
		data-fieldname="logo" 
	
	data-signal-error-for="logo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="logo" >


	<label class="r-search-label control-label" for="{$labelfor_logo}">
		{$label group212 logo }	</label>
	<div class="r-search-option">
		{$searchtype_logo}
	</div>
	<div class="r-search-field">
		{$logo_editcontrol}	</div>
	<div class="r-search-field">
		{$logo_editcontrol1}
	</div>
	
</div>

{END logo_fieldblock}
											
{BEGIN token_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_token_type}  r-horizontal-field form-horizontal" 
	
		data-fieldname="token_type" 
	
	data-signal-error-for="token_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="token_type" >


	<label class="r-search-label control-label" for="{$labelfor_token_type}">
		{$label group212 token_type }	</label>
	<div class="r-search-option">
		{$searchtype_token_type}
	</div>
	<div class="r-search-field">
		{$token_type_editcontrol}	</div>
	<div class="r-search-field">
		{$token_type_editcontrol1}
	</div>
	
</div>

{END token_type_fieldblock}
											
{BEGIN token_group_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_token_group}  r-horizontal-field form-horizontal" 
	
		data-fieldname="token_group" 
	
	data-signal-error-for="token_group{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="token_group" >


	<label class="r-search-label control-label" for="{$labelfor_token_group}">
		{$label group212 token_group }	</label>
	<div class="r-search-option">
		{$searchtype_token_group}
	</div>
	<div class="r-search-field">
		{$token_group_editcontrol}	</div>
	<div class="r-search-field">
		{$token_group_editcontrol1}
	</div>
	
</div>

{END token_group_fieldblock}
											
{BEGIN membership_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_membership_type}  r-horizontal-field form-horizontal" 
	
		data-fieldname="membership_type" 
	
	data-signal-error-for="membership_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="membership_type" >


	<label class="r-search-label control-label" for="{$labelfor_membership_type}">
		{$label group212 membership_type }	</label>
	<div class="r-search-option">
		{$searchtype_membership_type}
	</div>
	<div class="r-search-field">
		{$membership_type_editcontrol}	</div>
	<div class="r-search-field">
		{$membership_type_editcontrol1}
	</div>
	
</div>

{END membership_type_fieldblock}
											
{BEGIN business_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_business_type}  r-horizontal-field form-horizontal" 
	
		data-fieldname="business_type" 
	
	data-signal-error-for="business_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="business_type" >


	<label class="r-search-label control-label" for="{$labelfor_business_type}">
		{$label group212 business_type }	</label>
	<div class="r-search-option">
		{$searchtype_business_type}
	</div>
	<div class="r-search-field">
		{$business_type_editcontrol}	</div>
	<div class="r-search-field">
		{$business_type_editcontrol1}
	</div>
	
</div>

{END business_type_fieldblock}
											
{BEGIN open_time_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_open_time}  r-horizontal-field form-horizontal" 
	
		data-fieldname="open_time" 
	
	data-signal-error-for="open_time{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="open_time" >


	<label class="r-search-label control-label" for="{$labelfor_open_time}">
		{$label group212 open_time }	</label>
	<div class="r-search-option">
		{$searchtype_open_time}
	</div>
	<div class="r-search-field">
		{$open_time_editcontrol}	</div>
	<div class="r-search-field">
		{$open_time_editcontrol1}
	</div>
	
</div>

{END open_time_fieldblock}
											
{BEGIN close_time_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_close_time}  r-horizontal-field form-horizontal" 
	
		data-fieldname="close_time" 
	
	data-signal-error-for="close_time{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="close_time" >


	<label class="r-search-label control-label" for="{$labelfor_close_time}">
		{$label group212 close_time }	</label>
	<div class="r-search-option">
		{$searchtype_close_time}
	</div>
	<div class="r-search-field">
		{$close_time_editcontrol}	</div>
	<div class="r-search-field">
		{$close_time_editcontrol1}
	</div>
	
</div>

{END close_time_fieldblock}
											
{BEGIN off_day_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_off_day}  r-horizontal-field form-horizontal" 
	
		data-fieldname="off_day" 
	
	data-signal-error-for="off_day{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="off_day" >


	<label class="r-search-label control-label" for="{$labelfor_off_day}">
		{$label group212 off_day }	</label>
	<div class="r-search-option">
		{$searchtype_off_day}
	</div>
	<div class="r-search-field">
		{$off_day_editcontrol}	</div>
	<div class="r-search-field">
		{$off_day_editcontrol1}
	</div>
	
</div>

{END off_day_fieldblock}
											
{BEGIN group_member_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_group_member_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="group_member_id" 
	
	data-signal-error-for="group_member_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="group_member_id" >


	<label class="r-search-label control-label" for="{$labelfor_group_member_id}">
		{$label group212 group_member_id }	</label>
	<div class="r-search-option">
		{$searchtype_group_member_id}
	</div>
	<div class="r-search-field">
		{$group_member_id_editcontrol}	</div>
	<div class="r-search-field">
		{$group_member_id_editcontrol1}
	</div>
	
</div>

{END group_member_id_fieldblock}
											
{BEGIN user_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_user_type}  r-horizontal-field form-horizontal" 
	
		data-fieldname="user_type" 
	
	data-signal-error-for="user_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="user_type" >


	<label class="r-search-label control-label" for="{$labelfor_user_type}">
		{$label group212 user_type }	</label>
	<div class="r-search-option">
		{$searchtype_user_type}
	</div>
	<div class="r-search-field">
		{$user_type_editcontrol}	</div>
	<div class="r-search-field">
		{$user_type_editcontrol1}
	</div>
	
</div>

{END user_type_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
