<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel group edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
	{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN group_name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_group_name}  r-vertical-field" 
	data-fieldname="group_name" 
	data-signal-error-for="group_name{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="group_name" >


	<label class="r-edit-label control-label" for="{$labelfor_group_name}">
		{BEGIN group_name_label}{$label group group_name }{END group_name_label}
	</label>
	<div class="r-edit-field">
		{$group_name_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="group_name">
		<div class="text-muted" >
		{$tooltip group group_name }		</div>
	</div>
</div>


{END group_name_fieldblock}
											
{BEGIN description_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_description}  r-vertical-field" 
	data-fieldname="description" 
	data-signal-error-for="description{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="description" >


	<label class="r-edit-label control-label" for="{$labelfor_description}">
		{BEGIN description_label}{$label group description }{END description_label}
	</label>
	<div class="r-edit-field">
		{$description_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="description">
		<div class="text-muted" >
		{$tooltip group description }		</div>
	</div>
</div>


{END description_fieldblock}
											
{BEGIN logo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_logo}  r-vertical-field" 
	data-fieldname="logo" 
	data-signal-error-for="logo{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="logo" >


	<label class="r-edit-label control-label" for="{$labelfor_logo}">
		{BEGIN logo_label}{$label group logo }{END logo_label}
	</label>
	<div class="r-edit-field">
		{$logo_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="logo">
		<div class="text-muted" >
		{$tooltip group logo }		</div>
	</div>
</div>


{END logo_fieldblock}
											
{BEGIN token_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_token_type}  r-vertical-field" 
	data-fieldname="token_type" 
	data-signal-error-for="token_type{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="token_type" >


	<label class="r-edit-label control-label" for="{$labelfor_token_type}">
		{BEGIN token_type_label}{$label group token_type }{END token_type_label}
	</label>
	<div class="r-edit-field">
		{$token_type_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="token_type">
		<div class="text-muted" >
		{$tooltip group token_type }		</div>
	</div>
</div>


{END token_type_fieldblock}
											
{BEGIN token_group_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_token_group}  r-vertical-field" 
	data-fieldname="token_group" 
	data-signal-error-for="token_group{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="token_group" >


	<label class="r-edit-label control-label" for="{$labelfor_token_group}">
		{BEGIN token_group_label}{$label group token_group }{END token_group_label}
	</label>
	<div class="r-edit-field">
		{$token_group_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="token_group">
		<div class="text-muted" >
		{$tooltip group token_group }		</div>
	</div>
</div>


{END token_group_fieldblock}
											
{BEGIN membership_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_membership_type}  r-vertical-field" 
	data-fieldname="membership_type" 
	data-signal-error-for="membership_type{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="membership_type" >


	<label class="r-edit-label control-label" for="{$labelfor_membership_type}">
		{BEGIN membership_type_label}{$label group membership_type }{END membership_type_label}
	</label>
	<div class="r-edit-field">
		{$membership_type_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="membership_type">
		<div class="text-muted" >
		{$tooltip group membership_type }		</div>
	</div>
</div>


{END membership_type_fieldblock}
											
{BEGIN business_type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_business_type}  r-vertical-field" 
	data-fieldname="business_type" 
	data-signal-error-for="business_type{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="business_type" >


	<label class="r-edit-label control-label" for="{$labelfor_business_type}">
		{BEGIN business_type_label}{$label group business_type }{END business_type_label}
	</label>
	<div class="r-edit-field">
		{$business_type_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="business_type">
		<div class="text-muted" >
		{$tooltip group business_type }		</div>
	</div>
</div>


{END business_type_fieldblock}
											
{BEGIN open_time_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_open_time}  r-vertical-field" 
	data-fieldname="open_time" 
	data-signal-error-for="open_time{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="open_time" >


	<label class="r-edit-label control-label" for="{$labelfor_open_time}">
		{BEGIN open_time_label}{$label group open_time }{END open_time_label}
	</label>
	<div class="r-edit-field">
		{$open_time_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="open_time">
		<div class="text-muted" >
		{$tooltip group open_time }		</div>
	</div>
</div>


{END open_time_fieldblock}
											
{BEGIN close_time_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_close_time}  r-vertical-field" 
	data-fieldname="close_time" 
	data-signal-error-for="close_time{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="close_time" >


	<label class="r-edit-label control-label" for="{$labelfor_close_time}">
		{BEGIN close_time_label}{$label group close_time }{END close_time_label}
	</label>
	<div class="r-edit-field">
		{$close_time_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="close_time">
		<div class="text-muted" >
		{$tooltip group close_time }		</div>
	</div>
</div>


{END close_time_fieldblock}
											
{BEGIN off_day_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_off_day}  r-vertical-field" 
	data-fieldname="off_day" 
	data-signal-error-for="off_day{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="off_day" >


	<label class="r-edit-label control-label" for="{$labelfor_off_day}">
		{BEGIN off_day_label}{$label group off_day }{END off_day_label}
	</label>
	<div class="r-edit-field">
		{$off_day_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="off_day">
		<div class="text-muted" >
		{$tooltip group off_day }		</div>
	</div>
</div>


{END off_day_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Save			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							Cancel			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-menu-hamburger"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		Reset		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="group_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		View		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
