<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel lookup_token search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_lookup_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_lookup}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_lookup" 
	
	data-signal-error-for="id_lookup{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id_lookup" >


	<label class="r-search-label control-label" for="{$labelfor_id_lookup}">
		{$label lookup_token id_lookup }	</label>
	<div class="r-search-option">
		{$searchtype_id_lookup}
	</div>
	<div class="r-search-field">
		{$id_lookup_editcontrol}	</div>
	<div class="r-search-field">
		{$id_lookup_editcontrol1}
	</div>
	
</div>

{END id_lookup_fieldblock}
											
{BEGIN id_group_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_group}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_group" 
	
	data-signal-error-for="id_group{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="id_group" >


	<label class="r-search-label control-label" for="{$labelfor_id_group}">
		{$label lookup_token id_group }	</label>
	<div class="r-search-option">
		{$searchtype_id_group}
	</div>
	<div class="r-search-field">
		{$id_group_editcontrol}	</div>
	<div class="r-search-field">
		{$id_group_editcontrol1}
	</div>
	
</div>

{END id_group_fieldblock}
											
{BEGIN group_identifier_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_group_identifier}  r-horizontal-field form-horizontal" 
	
		data-fieldname="group_identifier" 
	
	data-signal-error-for="group_identifier{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="group_identifier" >


	<label class="r-search-label control-label" for="{$labelfor_group_identifier}">
		{$label lookup_token group_identifier }	</label>
	<div class="r-search-option">
		{$searchtype_group_identifier}
	</div>
	<div class="r-search-field">
		{$group_identifier_editcontrol}	</div>
	<div class="r-search-field">
		{$group_identifier_editcontrol1}
	</div>
	
</div>

{END group_identifier_fieldblock}
											
{BEGIN token_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_token}  r-horizontal-field form-horizontal" 
	
		data-fieldname="token" 
	
	data-signal-error-for="token{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="token" >


	<label class="r-search-label control-label" for="{$labelfor_token}">
		{$label lookup_token token }	</label>
	<div class="r-search-option">
		{$searchtype_token}
	</div>
	<div class="r-search-field">
		{$token_editcontrol}	</div>
	<div class="r-search-field">
		{$token_editcontrol1}
	</div>
	
</div>

{END token_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
