{BEGIN mainmenu_block}
<table class="runner-hmenu" cellpadding="0">
	<tr>
	{BEGIN simpleTypeMenu}
		
		{BEGIN item1_menulink}
		<td id="item1" view="topitem" class="Group">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item1_current} current{END item1_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item1_menulink_attrs} {BEGIN item1_current}class="curlink"{END item1_current}>{$item1_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

						<ul id="group1">
			
				{BEGIN item2_menulink}
				<li id="item2" parent="group1" class="Leaf{BEGIN item2_current} current{END item2_current}">
					&nbsp;<a {$item2_menulink_attrs} {BEGIN item2_current}class="curlink"{END item2_current}>{$item2_title}</a>&nbsp;


				</li>
				{END item2_menulink}
									
				{BEGIN item3_menulink}
				<li id="item3" parent="group1" class="Leaf{BEGIN item3_current} current{END item3_current}">
					&nbsp;<a {$item3_menulink_attrs} {BEGIN item3_current}class="curlink"{END item3_current}>{$item3_title}</a>&nbsp;


				</li>
				{END item3_menulink}
						</ul>
		</td>
		{END item1_menulink}
			
		{BEGIN item4_menulink}
		<td id="item4" view="topitem" class="Group">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item4_current} current{END item4_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item4_menulink_attrs} {BEGIN item4_current}class="curlink"{END item4_current}>{$item4_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

						<ul id="group4">
			
				{BEGIN item5_menulink}
				<li id="item5" parent="group4" class="Leaf{BEGIN item5_current} current{END item5_current}">
					&nbsp;<a {$item5_menulink_attrs} {BEGIN item5_current}class="curlink"{END item5_current}>{$item5_title}</a>&nbsp;


				</li>
				{END item5_menulink}
									
				{BEGIN item6_menulink}
				<li id="item6" parent="group4" class="Leaf{BEGIN item6_current} current{END item6_current}">
					&nbsp;<a {$item6_menulink_attrs} {BEGIN item6_current}class="curlink"{END item6_current}>{$item6_title}</a>&nbsp;


				</li>
				{END item6_menulink}
									
				{BEGIN item7_menulink}
				<li id="item7" parent="group4" class="Leaf{BEGIN item7_current} current{END item7_current}">
					&nbsp;<a {$item7_menulink_attrs} {BEGIN item7_current}class="curlink"{END item7_current}>{$item7_title}</a>&nbsp;


				</li>
				{END item7_menulink}
									
				{BEGIN item8_menulink}
				<li id="item8" parent="group4" class="Leaf{BEGIN item8_current} current{END item8_current}">
					&nbsp;<a {$item8_menulink_attrs} {BEGIN item8_current}class="curlink"{END item8_current}>{$item8_title}</a>&nbsp;


				</li>
				{END item8_menulink}
									
				{BEGIN item9_menulink}
				<li id="item9" parent="group4" class="Leaf{BEGIN item9_current} current{END item9_current}">
					&nbsp;<a {$item9_menulink_attrs} {BEGIN item9_current}class="curlink"{END item9_current}>{$item9_title}</a>&nbsp;


				</li>
				{END item9_menulink}
									
				{BEGIN item10_menulink}
				<li id="item10" parent="group4" class="Leaf{BEGIN item10_current} current{END item10_current}">
					&nbsp;<a {$item10_menulink_attrs} {BEGIN item10_current}class="curlink"{END item10_current}>{$item10_title}</a>&nbsp;


				</li>
				{END item10_menulink}
									
				{BEGIN item11_menulink}
				<li id="item11" parent="group4" class="Leaf{BEGIN item11_current} current{END item11_current}">
					&nbsp;<a {$item11_menulink_attrs} {BEGIN item11_current}class="curlink"{END item11_current}>{$item11_title}</a>&nbsp;


				</li>
				{END item11_menulink}
									
				{BEGIN item12_menulink}
				<li id="item12" parent="group4" class="Leaf{BEGIN item12_current} current{END item12_current}">
					&nbsp;<a {$item12_menulink_attrs} {BEGIN item12_current}class="curlink"{END item12_current}>{$item12_title}</a>&nbsp;


				</li>
				{END item12_menulink}
									
				{BEGIN item13_menulink}
				<li id="item13" parent="group4" class="Leaf{BEGIN item13_current} current{END item13_current}">
					&nbsp;<a {$item13_menulink_attrs} {BEGIN item13_current}class="curlink"{END item13_current}>{$item13_title}</a>&nbsp;


				</li>
				{END item13_menulink}
						</ul>
		</td>
		{END item4_menulink}
			
		{BEGIN item14_menulink}
		<td id="item14" view="topitem" class="Group">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item14_current} current{END item14_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item14_menulink_attrs} {BEGIN item14_current}class="curlink"{END item14_current}>{$item14_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

						<ul id="group14">
			
				{BEGIN item15_menulink}
				<li id="item15" parent="group14" class="Leaf{BEGIN item15_current} current{END item15_current}">
					&nbsp;<a {$item15_menulink_attrs} {BEGIN item15_current}class="curlink"{END item15_current}>{$item15_title}</a>&nbsp;


				</li>
				{END item15_menulink}
									
				{BEGIN item16_menulink}
				<li id="item16" parent="group14" class="Leaf{BEGIN item16_current} current{END item16_current}">
					&nbsp;<a {$item16_menulink_attrs} {BEGIN item16_current}class="curlink"{END item16_current}>{$item16_title}</a>&nbsp;


				</li>
				{END item16_menulink}
									
				{BEGIN item17_menulink}
				<li id="item17" parent="group14" class="Leaf{BEGIN item17_current} current{END item17_current}">
					&nbsp;<a {$item17_menulink_attrs} {BEGIN item17_current}class="curlink"{END item17_current}>{$item17_title}</a>&nbsp;


				</li>
				{END item17_menulink}
									
				{BEGIN item18_menulink}
				<li id="item18" parent="group14" class="Leaf{BEGIN item18_current} current{END item18_current}">
					&nbsp;<a {$item18_menulink_attrs} {BEGIN item18_current}class="curlink"{END item18_current}>{$item18_title}</a>&nbsp;


				</li>
				{END item18_menulink}
									
				{BEGIN item19_menulink}
				<li id="item19" parent="group14" class="Leaf{BEGIN item19_current} current{END item19_current}">
					&nbsp;<a {$item19_menulink_attrs} {BEGIN item19_current}class="curlink"{END item19_current}>{$item19_title}</a>&nbsp;


				</li>
				{END item19_menulink}
						</ul>
		</td>
		{END item14_menulink}
			
		{BEGIN item20_menulink}
		<td id="item20" view="topitem" class="Group">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item20_current} current{END item20_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item20_menulink_attrs} {BEGIN item20_current}class="curlink"{END item20_current}>{$item20_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

						<ul id="group20">
			
				{BEGIN item21_menulink}
				<li id="item21" parent="group20" class="Leaf{BEGIN item21_current} current{END item21_current}">
					&nbsp;<a {$item21_menulink_attrs} {BEGIN item21_current}class="curlink"{END item21_current}>{$item21_title}</a>&nbsp;


				</li>
				{END item21_menulink}
									
				{BEGIN item22_menulink}
				<li id="item22" parent="group20" class="Leaf{BEGIN item22_current} current{END item22_current}">
					&nbsp;<a {$item22_menulink_attrs} {BEGIN item22_current}class="curlink"{END item22_current}>{$item22_title}</a>&nbsp;


				</li>
				{END item22_menulink}
									
				{BEGIN item23_menulink}
				<li id="item23" parent="group20" class="Leaf{BEGIN item23_current} current{END item23_current}">
					&nbsp;<a {$item23_menulink_attrs} {BEGIN item23_current}class="curlink"{END item23_current}>{$item23_title}</a>&nbsp;


				</li>
				{END item23_menulink}
									
				{BEGIN item24_menulink}
				<li id="item24" parent="group20" class="Leaf{BEGIN item24_current} current{END item24_current}">
					&nbsp;<a {$item24_menulink_attrs} {BEGIN item24_current}class="curlink"{END item24_current}>{$item24_title}</a>&nbsp;


				</li>
				{END item24_menulink}
									
				{BEGIN item25_menulink}
				<li id="item25" parent="group20" class="Leaf{BEGIN item25_current} current{END item25_current}">
					&nbsp;<a {$item25_menulink_attrs} {BEGIN item25_current}class="curlink"{END item25_current}>{$item25_title}</a>&nbsp;


				</li>
				{END item25_menulink}
									
				{BEGIN item26_menulink}
				<li id="item26" parent="group20" class="Leaf{BEGIN item26_current} current{END item26_current}">
					&nbsp;<a {$item26_menulink_attrs} {BEGIN item26_current}class="curlink"{END item26_current}>{$item26_title}</a>&nbsp;


				</li>
				{END item26_menulink}
									
				{BEGIN item27_menulink}
				<li id="item27" parent="group20" class="Leaf{BEGIN item27_current} current{END item27_current}">
					&nbsp;<a {$item27_menulink_attrs} {BEGIN item27_current}class="curlink"{END item27_current}>{$item27_title}</a>&nbsp;


				</li>
				{END item27_menulink}
									
				{BEGIN item28_menulink}
				<li id="item28" parent="group20" class="Leaf{BEGIN item28_current} current{END item28_current}">
					&nbsp;<a {$item28_menulink_attrs} {BEGIN item28_current}class="curlink"{END item28_current}>{$item28_title}</a>&nbsp;


				</li>
				{END item28_menulink}
									
				{BEGIN item29_menulink}
				<li id="item29" parent="group20" class="Leaf{BEGIN item29_current} current{END item29_current}">
					&nbsp;<a {$item29_menulink_attrs} {BEGIN item29_current}class="curlink"{END item29_current}>{$item29_title}</a>&nbsp;


				</li>
				{END item29_menulink}
						</ul>
		</td>
		{END item20_menulink}
			
		{BEGIN item30_menulink}
		<td id="item30" view="topitem" class="Group">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item30_current} current{END item30_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item30_menulink_attrs} {BEGIN item30_current}class="curlink"{END item30_current}>{$item30_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

						<ul id="group30">
			
				{BEGIN item31_menulink}
				<li id="item31" parent="group30" class="Leaf{BEGIN item31_current} current{END item31_current}">
					&nbsp;<a {$item31_menulink_attrs} {BEGIN item31_current}class="curlink"{END item31_current}>{$item31_title}</a>&nbsp;


				</li>
				{END item31_menulink}
									
				{BEGIN item32_menulink}
				<li id="item32" parent="group30" class="Leaf{BEGIN item32_current} current{END item32_current}">
					&nbsp;<a {$item32_menulink_attrs} {BEGIN item32_current}class="curlink"{END item32_current}>{$item32_title}</a>&nbsp;


				</li>
				{END item32_menulink}
									
				{BEGIN item33_menulink}
				<li id="item33" parent="group30" class="Leaf{BEGIN item33_current} current{END item33_current}">
					&nbsp;<a {$item33_menulink_attrs} {BEGIN item33_current}class="curlink"{END item33_current}>{$item33_title}</a>&nbsp;


				</li>
				{END item33_menulink}
									
				{BEGIN item34_menulink}
				<li id="item34" parent="group30" class="Leaf{BEGIN item34_current} current{END item34_current}">
					&nbsp;<a {$item34_menulink_attrs} {BEGIN item34_current}class="curlink"{END item34_current}>{$item34_title}</a>&nbsp;


				</li>
				{END item34_menulink}
						</ul>
		</td>
		{END item30_menulink}
			
		{BEGIN item35_menulink}
		<td id="item35" view="topitem" class="Group">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item35_current} current{END item35_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item35_menulink_attrs} {BEGIN item35_current}class="curlink"{END item35_current}>{$item35_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

						<ul id="group35">
			
				{BEGIN item36_menulink}
				<li id="item36" parent="group35" class="Leaf{BEGIN item36_current} current{END item36_current}">
					&nbsp;<a {$item36_menulink_attrs} {BEGIN item36_current}class="curlink"{END item36_current}>{$item36_title}</a>&nbsp;


				</li>
				{END item36_menulink}
									
				{BEGIN item37_menulink}
				<li id="item37" parent="group35" class="Leaf{BEGIN item37_current} current{END item37_current}">
					&nbsp;<a {$item37_menulink_attrs} {BEGIN item37_current}class="curlink"{END item37_current}>{$item37_title}</a>&nbsp;


				</li>
				{END item37_menulink}
									
				{BEGIN item38_menulink}
				<li id="item38" parent="group35" class="Leaf{BEGIN item38_current} current{END item38_current}">
					&nbsp;<a {$item38_menulink_attrs} {BEGIN item38_current}class="curlink"{END item38_current}>{$item38_title}</a>&nbsp;


				</li>
				{END item38_menulink}
									
				{BEGIN item39_menulink}
				<li id="item39" parent="group35" class="Leaf{BEGIN item39_current} current{END item39_current}">
					&nbsp;<a {$item39_menulink_attrs} {BEGIN item39_current}class="curlink"{END item39_current}>{$item39_title}</a>&nbsp;


				</li>
				{END item39_menulink}
									
				{BEGIN item40_menulink}
				<li id="item40" parent="group35" class="Leaf{BEGIN item40_current} current{END item40_current}">
					&nbsp;<a {$item40_menulink_attrs} {BEGIN item40_current}class="curlink"{END item40_current}>{$item40_title}</a>&nbsp;


				</li>
				{END item40_menulink}
									
				{BEGIN item41_menulink}
				<li id="item41" parent="group35" class="Leaf{BEGIN item41_current} current{END item41_current}">
					&nbsp;<a {$item41_menulink_attrs} {BEGIN item41_current}class="curlink"{END item41_current}>{$item41_title}</a>&nbsp;


				</li>
				{END item41_menulink}
									
				{BEGIN item42_menulink}
				<li id="item42" parent="group35" class="Leaf{BEGIN item42_current} current{END item42_current}">
					&nbsp;<a {$item42_menulink_attrs} {BEGIN item42_current}class="curlink"{END item42_current}>{$item42_title}</a>&nbsp;


				</li>
				{END item42_menulink}
									
				{BEGIN item43_menulink}
				<li id="item43" parent="group35" class="Leaf{BEGIN item43_current} current{END item43_current}">
					&nbsp;<a {$item43_menulink_attrs} {BEGIN item43_current}class="curlink"{END item43_current}>{$item43_title}</a>&nbsp;


				</li>
				{END item43_menulink}
									
				{BEGIN item44_menulink}
				<li id="item44" parent="group35" class="Leaf{BEGIN item44_current} current{END item44_current}">
					&nbsp;<a {$item44_menulink_attrs} {BEGIN item44_current}class="curlink"{END item44_current}>{$item44_title}</a>&nbsp;


				</li>
				{END item44_menulink}
						</ul>
		</td>
		{END item35_menulink}
			
		{BEGIN item45_menulink}
		<td id="item45" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item45_current} current{END item45_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item45_menulink_attrs} {BEGIN item45_current}class="curlink"{END item45_current}>{$item45_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item45_menulink}
			
		{BEGIN item46_menulink}
		<td id="item46" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item46_current} current{END item46_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item46_menulink_attrs} {BEGIN item46_current}class="curlink"{END item46_current}>{$item46_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item46_menulink}
			
		{BEGIN item47_menulink}
		<td id="item47" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item47_current} current{END item47_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item47_menulink_attrs} {BEGIN item47_current}class="curlink"{END item47_current}>{$item47_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item47_menulink}
			
		{BEGIN item48_menulink}
		<td id="item48" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item48_current} current{END item48_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item48_menulink_attrs} {BEGIN item48_current}class="curlink"{END item48_current}>{$item48_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item48_menulink}
			
		{BEGIN item49_menulink}
		<td id="item49" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item49_current} current{END item49_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item49_menulink_attrs} {BEGIN item49_current}class="curlink"{END item49_current}>{$item49_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item49_menulink}
			
		{BEGIN item50_menulink}
		<td id="item50" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item50_current} current{END item50_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item50_menulink_attrs} {BEGIN item50_current}class="curlink"{END item50_current}>{$item50_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item50_menulink}
			
		{BEGIN item51_menulink}
		<td id="item51" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item51_current} current{END item51_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item51_menulink_attrs} {BEGIN item51_current}class="curlink"{END item51_current}>{$item51_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item51_menulink}
			
		{BEGIN item52_menulink}
		<td id="item52" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item52_current} current{END item52_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item52_menulink_attrs} {BEGIN item52_current}class="curlink"{END item52_current}>{$item52_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item52_menulink}
			
		{BEGIN item53_menulink}
		<td id="item53" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item53_current} current{END item53_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item53_menulink_attrs} {BEGIN item53_current}class="curlink"{END item53_current}>{$item53_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item53_menulink}
			
		{BEGIN item54_menulink}
		<td id="item54" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item54_current} current{END item54_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item54_menulink_attrs} {BEGIN item54_current}class="curlink"{END item54_current}>{$item54_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item54_menulink}
			
		{BEGIN item55_menulink}
		<td id="item55" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item55_current} current{END item55_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item55_menulink_attrs} {BEGIN item55_current}class="curlink"{END item55_current}>{$item55_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item55_menulink}
			
		{BEGIN item56_menulink}
		<td id="item56" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item56_current} current{END item56_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item56_menulink_attrs} {BEGIN item56_current}class="curlink"{END item56_current}>{$item56_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item56_menulink}
			
		{BEGIN item57_menulink}
		<td id="item57" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item57_current} current{END item57_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item57_menulink_attrs} {BEGIN item57_current}class="curlink"{END item57_current}>{$item57_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item57_menulink}
			
		{BEGIN item58_menulink}
		<td id="item58" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item58_current} current{END item58_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item58_menulink_attrs} {BEGIN item58_current}class="curlink"{END item58_current}>{$item58_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item58_menulink}
			
		{BEGIN item59_menulink}
		<td id="item59" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item59_current} current{END item59_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item59_menulink_attrs} {BEGIN item59_current}class="curlink"{END item59_current}>{$item59_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item59_menulink}
			
		{BEGIN item60_menulink}
		<td id="item60" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item60_current} current{END item60_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item60_menulink_attrs} {BEGIN item60_current}class="curlink"{END item60_current}>{$item60_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item60_menulink}
			
		{BEGIN item61_menulink}
		<td id="item61" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item61_current} current{END item61_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item61_menulink_attrs} {BEGIN item61_current}class="curlink"{END item61_current}>{$item61_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item61_menulink}
			
		{BEGIN item62_menulink}
		<td id="item62" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item62_current} current{END item62_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item62_menulink_attrs} {BEGIN item62_current}class="curlink"{END item62_current}>{$item62_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item62_menulink}
			
		{BEGIN item63_menulink}
		<td id="item63" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item63_current} current{END item63_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item63_menulink_attrs} {BEGIN item63_current}class="curlink"{END item63_current}>{$item63_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item63_menulink}
			
		{BEGIN item64_menulink}
		<td id="item64" view="topitem" class="Leaf">
			<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item64_current} current{END item64_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item64_menulink_attrs} {BEGIN item64_current}class="curlink"{END item64_current}>{$item64_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

		</td>
		{END item64_menulink}
					{BEGIN adminarea_link}
		<td id="itemAA" view="topitem" class="Leaf">
	<table class="runner-c" cellpadding="0">
		<tr class="runner-toprow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc">	
				<a {$itemAA_menulink_attrs} {$adminarealink_attrs}>{$itemAA_title}</a>
			</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>	
</td>	
		{END adminarea_link}
	{END simpleTypeMenu}

	{BEGIN adminAreaTypeMenu}
	{BEGIN item1_menulink}
<td id="item1" view="topitem" class="Leaf runner-cc runner-bl runner-b-hmenu">
	<table class="runner-hmenu" cellpadding="0">
		<tr class="runner-menutab{BEGIN item1_current} current{END item1_current}">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc">	
				<a {$item1_menulink_attrs} class="curlink">{$item1_title}</a>
			</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>	
</td>
{END item1_menulink}
{BEGIN item2_menulink}
<td id="item2" view="topitem" class="Leaf runner-cc runner-bl runner-b-hmenu">
	<table class="runner-hmenu" cellpadding="0">
		<tr class="runner-menutab{BEGIN item2_current} current{END item2_current}">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc">	
				<a {$item2_menulink_attrs} class="curlink">{$item2_title}</a>
			</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>	
</td>
{END item2_menulink}
{BEGIN item3_menulink}
<td id="item3" view="topitem" class="Leaf runner-cc runner-bl runner-b-hmenu">
	<table class="runner-hmenu" cellpadding="0">
		<tr class="runner-menutab{BEGIN item3_current} current{END item3_current}">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc">	
				<a {$item3_menulink_attrs} class="curlink">{$item3_title}</a>
			</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>	
</td>
{END item3_menulink}


	{END adminAreaTypeMenu}
	</tr>
</table>
{END mainmenu_block}